<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenido</title>
   
    <link rel="stylesheet" href="sty.css">
</head>
<body>
    <div class="container-scroller">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper">
                <a class="sidebar-brand brand-logo" href="index.html">
                    <img src="https://i.postimg.cc/mD4QLGws/OIP-1.jpg" alt="Logo" class="styled-logo"/>
                </a>
            </div>
            <ul>
                <li>
                    <a href="/estudiantes">Administración de Estudiantes</a>
                </li>
                <li>
                    <a href="/profesores">Administración de Profesores</a>
                </li>
                <li>
                    <a href="/cursos"> Administración de Cursos</a>
                </li>
                <li>
                    <a href="/aulas">Administración de Aulas</a>
                </li>
                <li>
                    <a href="/matriculas">Administración de Matrículas</a>
                </li>
            </ul>
        </nav>

       
    </div>
</body>
</html>
